<body>
    <script type="text/javascript" language="javascript">$(document).ready(function () {
            $('#filesTable').DataTable({
                language: {
                    searchPlaceholder: "Search records"
                }
            });
            $('.dataTables_length').addClass('bs-select');
        });</script>
    <div id="login-form-wrap">
        <div id="image"><img src="/logo.png" alt="DRDO Logo" width="100" height="100"></div>
        <h3>DESIDOC e-Resource Sharing</h3>
        <h5>Files uploaded by <%= user.lab %>
        </h5>
        <form id="login-form" action="/logout" method="post"> <input type="submit" id="logout" value="Logout"></form>
        <table class="sortable" id="filesTable">
            <thead>
                <tr>
                    <th>Filename</th>
                    <th>Type</th>
                    <th>Size</th>
                </tr>
            </thead>
            <tbody>
                <% files.forEach((file)=> {%>
                    <% console.log(file.fileURL)%>
                        <tr>
                            <td><a href=<%=file.fileURL %>> <%= file.fileName %></a></td>
                            <td>
                                <%= file.fileType %>
                            </td>
                            <td>
                                <%= file.fileSize %>
                            </td>
                        </tr>
                        <% }) %>
            </tbody>
        </table>
        <div id="create-account-wrap">
            <p style="color:red;"> Please use Chrome for better expirence</p>
            <p>Developed and by Maintained DESIDOC</p>

        </div>
    </div>